$primary-color: #333;
@keyframes circle{0% {transform: rotate(0deg); } 100% {transform: rotate(360deg); } }

.hello {
    color:$primary-color;
    box-sizing: border-box;
    animation: circle 20s infinite linear;
  }